@import "tailwindcss";
@plugin "daisyui";

body {
  background: linear-gradient(to bottom, #000011 0%, #000033 50%, #01013d 85%);
  color: #ffffff;
  min-height: 100vh;
  background-attachment: fixed;
}


